<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-login.css') }}" />

</head>
<body>
    <div class="login-wrapper">
        <div class="login-left">
            <img src="https://images.unsplash.com/photo-1555529669-e69e7aa0ba9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
        </div>
        
        <div class="login-right">
            <div class="h2">LOGIN</div>
            <div class="from-group">
                <input type="text" id= "full-name" placeholder="Full Name">
                <label for="full-name"></label>
            </div>
            <div class="from-group">
                <input type="password" id= "password" placeholder="Password">
                <label for="password"></label>
            </div>
    
            <div class="button-area">
                <button class="btn btn-secondary">Sign Up</button>
                <button class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </div>
    
    


</body>
</html>