<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-regis.css') }}" />

    
</head>
<body>

    <div class="login-wrapper">
        <form action="/validate-register" method="post">
            <div class="login-left">
                <!-- <img src="https://i.pinimg.com/564x/2a/67/95/2a6795fb048a0e5d3045aa4fab4e2151.jpg" alt=""> -->
                <img src="https://images.unsplash.com/photo-1555529669-e69e7aa0ba9a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="">
                <div class="h1">Cilck to REGISTER</div>
            </div>

            <div class="login-right">
                <div class="h2">Register</div>
                
                <div class="from-group">
                    <input type="text" name="user" id="full-name" placeholder="Username">
                    <label for="Username"></label>
                </div>
                <div class="from-group">
                    <input type="text" name="email" id="email" placeholder="Email">
                    <label for="Email"></label>
                </div>
                <div class="from-group">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <label for="Password"></label>
                </div>
                <!-- <div class="checkbox-container">
                    <input type="checkbox">
                    <div class="text-checkbox">
                        I agree with the terms of service.
                    </div>
                </div> -->
                <div class="button-area">
                    <button class="btn btn-secondary">Register</button>
                    
                </div>
                <p class="outer-link">Already have an account? <a href="/login"> Login Now</a>
            </div>
        </form>    
    </div>


    <script src="{{ url_for('static', filename='js/script-regis.js') }}"></script>

    
</body>
</html>